@model IEnumerable<PMS.Models.Sales>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<h4>💹 Sale</h4>
<br />
<p>This page contains the sale data which is related to retailers  in PMS.</p>
<hr />
<br />
<p>
    @Html.ActionLink("+📄 Add Record", "Create","Sale", null,new{@class="btn btn-info"})
</p>
@if (TempData["Message"] != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Alert ❗</strong> @TempData["Message"].
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
    <div style="overflow:auto;">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Sale ID
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Sale Name
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Value
                    </th>
                    <th>
                        Description
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.sale_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sale_date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sale_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sale_type)
                        </td>
                        <td>
                           Rs. @Html.DisplayFor(modelItem => item.sale_value) /=
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sale_description)
                        </td>
                        <td>

                            @Html.ActionLink("Details","Details","Sale", new { Id = item.sale_id},new { @class="btn btn-info btn-sm"}) |
                            @Html.ActionLink("Delete","Delete","Sale", new { Id = item.sale_id},new { @class="btn btn-danger btn-sm " })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
